<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Configuration du bean WebserviceRepository -->
    <bean id="webserviceActorRepository"
        class="fr.epsi.actor.repository.webservice.WebserviceRepository">
    </bean>

    <!-- Configuration d'une Datasource vers la base de données -->
    <bean name="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="org.postgresql.Driver" />
        <property name="url" value="jdbc:postgresql://localhost:5432/sakila" />
        <property name="username" value="postgres" />
        <property name="password" value="postgres" />
    </bean>
    <!-- Configuration du JDBCTemplate pour faciliter l'accès à la base de donnes -->
    <bean id="jdbcTemplate"
        class="org.springframework.jdbc.core.JdbcTemplate">
        <constructor-arg ref="dataSource"/>
    </bean>

    <!-- Configuration du bean DatabaseActorRepository -->
    <bean id="databaseActorRepository"
        class="fr.epsi.actor.repository.database.DatabaseActorRepository">
        <constructor-arg ref="jdbcTemplate"/>
    </bean>

    <!-- Configuration du bean ActorService -->
    <bean id="actorService"
        class="fr.epsi.actor.service.MyActorService">
        <!-- Le Service nécessite un Repository, on le lui injecte via son constructeur -->
        <!-- l'implémentation peut être modifiée en changeant uniquement sa référence, aucune recompilation n'est nécessaire -->
        <constructor-arg ref="databaseActorRepository"/>
    </bean>
</beans>
